body {
  /* Set margin to 0 pixels on all sides */
  margin:0px;
  /* Set font size to be 20 pixels */
  font-size: 18px;
  /* Set line height to be 1.5 times larger than default */
  line-height: 150%;
  /* Set font family to be Helvetica or Arial */
  font-family: Arial, Helvetica, sans-serif; 

  background-color: plum;
}

header {
  /* Set text alignment to center */
  text-align: center; 
  background-color: pink; 
  margin:50px 
}

main {
  /* Set maximum width to be 800 pixels */
  max-width: 900px;
  /* Set margin to be automatically calculated on all sides */
  margin: auto; 
  background-color: white;
  /* Set padding to be 0 pixels top & bottom, and 20 pixels left & right */
  padding: 0px 13px; 
}

p {
  /* Set font color to be the hex code 666666 */
  color: crimson; 
}

.faded {
  /* Set opacity of the text to be 0.7 */
  opacity: 0.8;
}

img {
  /* Set max width to be 100% of the containing element */
  max-width: 500px;
  max-height: 500px;
}

h1 {
  /* Set border along bottom to be a black solid line 5 pixels thick */
  border-bottom: 5px solid purple
}

h1 {
  /* Set font color to be purple (BONUS: try using a hex or rgb code!) */
  color: indigo;
}

h2 {

  color: teal;
  border-bottom: 3px magenta; 

}

footer {
  /* Set font color to white */
  color: white;
  /* Set background color to purple */
  background-color: purple;
  /* Set padding on all sides to be 20 pixels */
  padding: 2px;
  /* Set text alignment to center */
  text-align: center; 
  /* Set margin on top to be 60 pixels */
  margin-top: 70px; 
}

@media (max-width: 600px) {

  body {
    /* Set font size to be 80% of the normal size */
    font-size: 80%; 
    background-color: green;
  }

}
