---
---

$blockquote-text-color: #370b51; // Indigo purple

$border-color: #34aeb5; // dark turquoise 

$section-headings-color: #8c00a8; // Purple header text

$table-border-color: #34aeb5; // dark turquoise

@import "{{ site.theme }}";

.page-header {
  color: #73364c; // maroon 
  text-align: center;
  background-color: #a88399; // light plum 
  background-image: linear-gradient(120deg, #ffd2da, #c0c0ff);
  height: 250px
  
 } 

body {
  padding: 10px;
  background-color: #bbe7ef; // light light turquoise 
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #47556c; // medium plum-blue
 
}

  h2,
  h3,
  h4,
  h5 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: $section-headings-color; 
    
  }

blockquote {
    padding: 0 1rem;
    margin-left: 0;
    color: $blockquote-text-color;
    border-left: 0.3rem solid $border-color; 

  }

a {
  color: #370b51; // THIS IS HYPERLINK COLOUR!!  
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
  }
}

table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all; // For Firefox to horizontally scroll wider tables.
    -webkit-overflow-scrolling: touch;

    th {
      font-weight: bold;
    }

    th,
    td {
      padding: 0.5rem 1rem;
      border: 2px solid $table-border-color;
    }
  }

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  width: 20.00%;
  padding: 0;
  display: inline-block;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
}


  
  
